{% include 'bunk_header.html' %}

<center>
	<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="/static/image/lo.jpg" alt="oldcar" >
				<div class="carousel-caption">
	<form method="post" style="margin-top: -200px;">
		<h1 style="color: azure">Add Price</h1>
		<table class="" style="width: 500px;margin-left: 200px;color: white;">
		
			<tr>
				<th>Price</th>
				<td><input type="text" name="price" class="form-control" required="" style="margin:5px;"></td>
			</tr>
          	
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" style="margin:10px;" value="Add" class="btn btn-danger"></td>
			</tr>
		</table>
<br><br>
		
	</form>
</center>
</div>
			</div>
			
		</div>
		</div>
</div>
{% include 'footer.html' %}