{% include 'bunk_header.html' %}
 <center> 

	<div class="allcontainrequired">	
		<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active">
				<img src="/static/image/evchain3.jpg" alt="oldcar" >
				
				
				<div class="carousel-caption">
					

	<form method="post" style="margin-top: -22em;">
		
		<table style="width: 1000px;" >
			
			<h1>Type OTP</h1>
            
                <tr>
                <td align="center"><input type="text" name="otp" required class="form-control" style="width:380px;" pattern="[0-9]{6}"></input></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit" value="Check" class="btn btn-danger" style="margin:10px;width: 100px;"></td>
            </tr>
            </table>
		</form>

			<br><br>

		
	</center>
</div>
			</div>
		</div>
		</div>
	</div>
{% include 'footer.html' %}